<div class="row page_options">
  <div class="col-sm-12 page_header">
    <h3><a [routerLink]=" ['/'] ">&larr; Go Back</a> Add new page</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card__content">
        <form>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" [(ngModel)]="model.title">
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="subtitle">Subtitle</label>
                <input type="text" class="form-control" name="subtitle" [(ngModel)]="model.subtitle">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <paragraph-input [(data)]="model.paragraphs"></paragraph-input>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <tag-input title="Tags" [(data)]="model.tags"></tag-input>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <tag-input title="Technologies" [(data)]="model.technologies"></tag-input>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <key-value-input title="References" [(data)]="model.references"></key-value-input>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <result-button default="Add page"
                       waiting="Waiting..."
                       success="&#x2714; Added"
                       failure="&#x2718; Error occured. Please check console."
                       timeout="Timed out"
                       [channel]="buttonChannel"
                       (click)="save()"></result-button>
      </div>
    </div>
  </div>
</div>
