h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.media {
  margin-bottom: 16px;
}

.empty {
  color: grey;
}

.upload {

  input {
    margin-bottom: 16px;
  }
  p {
    margin-top: 8px;
    margin-bottom: 0;
  }
}
